# Initial WSJ Data Exploration

It seems the WSJ data only goes back to Feb 5, 1971 (and is missing some dates). We'll want to find some other data that covers from 1918 - 1971 if possible or at least 1945 - 1971 (post-WWII).

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from seaborn import set_style
set_style("whitegrid")

In [2]:
price2 = pd.read_csv('data/WSJ_HistoricalPrices(Jan 1, 1981 - Oct 10, 2024).csv')
price1 = pd.read_csv('data/WSJ_HistoricalPrices(Feb 5, 1971 - Dec 31, 1980).csv')
dates = pd.read_csv('data/DaylightSavingsTimeChangeDates_1971-2024.csv')

In [3]:
price = pd.concat([price2, price1], axis=0)
price

          Date      Open      High       Low     Close
0     10/10/24  18200.62  18333.39  18154.18  18282.05
1     10/09/24  18179.22  18302.05  18133.02  18291.62
2     10/08/24  18017.93  18203.04  17989.70  18182.92
3     10/07/24  18080.12  18096.33  17900.03  17923.90
4     10/04/24  18130.42  18145.28  17952.30  18137.85
...        ...       ...       ...       ...       ...
2495  02/11/71    101.45    101.45    101.45    101.45
2496  02/10/71    100.69    100.69    100.69    100.69
2497  02/09/71    100.76    100.76    100.76    100.76
2498  02/08/71    100.84    100.84    100.84    100.84
2499  02/05/71    100.00    100.00    100.00    100.00

[13536 rows x 5 columns]

In [4]:
# dataframe in chronological order
price_chrono = price.iloc[::-1].reset_index(drop=True)
price_chrono

           Date      Open      High       Low     Close
0      02/05/71    100.00    100.00    100.00    100.00
1      02/08/71    100.84    100.84    100.84    100.84
2      02/09/71    100.76    100.76    100.76    100.76
3      02/10/71    100.69    100.69    100.69    100.69
4      02/11/71    101.45    101.45    101.45    101.45
...         ...       ...       ...       ...       ...
13531  10/04/24  18130.42  18145.28  17952.30  18137.85
13532  10/07/24  18080.12  18096.33  17900.03  17923.90
13533  10/08/24  18017.93  18203.04  17989.70  18182.92
13534  10/09/24  18179.22  18302.05  18133.02  18291.62
13535  10/10/24  18200.62  18333.39  18154.18  18282.05

[13536 rows x 5 columns]

In [86]:
dates

,Year,Day of Week,Date,Time before change,Time after change,Day of Week.1,Date.1,Time before change.1,Time after change.1
0,1971,Sunday,25 April,2:00,3:00,Sunday,31 October,2:00,1:00
1,1972,Sunday,30 April,2:00,3:00,Sunday,29 October,2:00,1:00
2,1973,Sunday,29 April,2:00,3:00,Sunday,28 October,2:00,1:00
3,1974,Sunday,6 January,2:00,3:00,Sunday,27 October,2:00,1:00
4,1975,Sunday,23 February,2:00,3:00,Sunday,26 October,2:00,1:00
5,1976,Sunday,25 April,2:00,3:00,Sunday,31 October,2:00,1:00
6,1977,Sunday,24 April,2:00,3:00,Sunday,30 October,2:00,1:00
7,1978,Sunday,30 April,2:00,3:00,Sunday,29 October,2:00,1:00
8,1979,Sunday,29 April,2:00,3:00,Sunday,28 October,2:00,1:00
9,1980,Sunday,27 April,2:00,3:00,Sunday,26 October,2:00,1:00
10,1981,Sunday,26 April,2:00,3:00,Sunday,25 October,2:00,1:00
11,1982,Sunday,25 April,2:00,3:00,Sunday,31 October,2:00,1:00
12,1983,Sunday,24 April,2:00,3:00,Sunday,30 October,2:00,1:00
13,1984,Sunday,29 April,2:00,3:00,Sunday,28 October,2:00,1:00
14,1985,Sunday,28 April,2:00,3:00,Sunday,27 October,2:00,1:00
15,1986,Sunday,27 April,2:00,3:00,Sunday,26 October,2:00,1:00
16,1987,Sunday,5 April,2:00,3:00,Sunday,25 October,2:00,1:00
17,1988,Sunday,3 April,2:00,3:00,Sunday,30 October,2:00,1:00
18,1989,Sunday,2 April,2:00,3:00,Sunday,29 October,2:00,1:00
19,1990,Sunday,1 April,2:00,3:00,Sunday,28 October,2:00,1:00
20,1991,Sunday,7 April,2:00,3:00,Sunday,27 October,2:00,1:00
21,1992,Sunday,5 April,2:00,3:00,Sunday,25 October,2:00,1:00
22,1993,Sunday,4 April,2:00,3:00,Sunday,31 October,2:00,1:00
23,1994,Sunday,3 April,2:00,3:00,Sunday,30 October,2:00,1:00
24,1995,Sunday,2 April,2:00,3:00,Sunday,29 October,2:00,1:00
25,1996,Sunday,7 April,2:00,3:00,Sunday,27 October,2:00,1:00
26,1997,Sunday,6 April,2:00,3:00,Sunday,26 October,2:00,1:00
27,1998,Sunday,5 April,2:00,3:00,Sunday,25 October,2:00,1:00
28,1999,Sunday,4 April,2:00,3:00,Sunday,31 October,2:00,1:00
29,2000,Sunday,2 April,2:00,3:00,Sunday,29 October,2:00,1:00
30,2001,Sunday,1 April,2:00,3:00,Sunday,28 October,2:00,1:00
31,2002,Sunday,7 April,2:00,3:00,Sunday,27 October,2:00,1:00
32,2003,Sunday,6 April,2:00,3:00,Sunday,26 October,2:00,1:00
33,2004,Sunday,4 April,2:00,3:00,Sunday,31 October,2:00,1:00
34,2005,Sunday,3 April,2:00,3:00,Sunday,30 October,2:00,1:00
35,2006,Sunday,2 April,2:00,3:00,Sunday,29 October,2:00,1:00
36,2007,Sunday,11 March,2:00,3:00,Sunday,4 November,2:00,1:00
37,2008,Sunday,9 March,2:00,3:00,Sunday,2 November,2:00,1:00
38,2009,Sunday,8 March,2:00,3:00,Sunday,1 November,2:00,1:00
39,2010,Sunday,14 March,2:00,3:00,Sunday,7 November,2:00,1:00
40,2011,Sunday,13 March,2:00,3:00,Sunday,6 November,2:00,1:00
41,2012,Sunday,11 March,2:00,3:00,Sunday,4 November,2:00,1:00
42,2013,Sunday,10 March,2:00,3:00,Sunday,3 November,2:00,1:00
43,2014,Sunday,9 March,2:00,3:00,Sunday,2 November,2:00,1:00
44,2015,Sunday,8 March,2:00,3:00,Sunday,1 November,2:00,1:00
45,2016,Sunday,13 March,2:00,3:00,Sunday,6 November,2:00,1:00
46,2017,Sunday,12 March,2:00,3:00,Sunday,5 November,2:00,1:00
47,2018,Sunday,11 March,2:00,3:00,Sunday,4 November,2:00,1:00
48,2019,Sunday,10 March,2:00,3:00,Sunday,3 November,2:00,1:00
49,2020,Sunday,8 March,2:00,3:00,Sunday,1 November,2:00,1:00
50,2021,Sunday,14 March,2:00,3:00,Sunday,7 November,2:00,1:00
51,2022,Sunday,13 March,2:00,3:00,Sunday,6 November,2:00,1:00
52,2023,Sunday,12 March,2:00,3:00,Sunday,5 November,2:00,1:00
53,2024,Sunday,10 March,2:00,3:00,Sunday,3 November,2:00,1:00

In [87]:
dst_dates = pd.to_datetime(dates.Date+" "+dates.Year.astype(str))

In [88]:
price['Date'] = pd.to_datetime(price.Date, format="%m/%d/%y")

In [89]:
dst_mon_spring = dst_dates+pd.DateOffset(1)
dst_fri_spring = dst_dates+pd.DateOffset(-2)

In [94]:
print(price[price.Date.isin(dst_mon_spring)])

            Date      Open      High       Low     Close
148   2024-03-11  16052.63  16085.94  15978.04  16019.27
398   2023-03-13  11041.46  11326.73  10982.80  11188.84
648   2022-03-14  12795.12  12918.01  12555.35  12581.22
900   2021-03-15  13323.47  13460.35  13272.50  13459.71
1156  2020-03-09   7957.93   8243.31   7943.16   7950.68
1407  2019-03-11   7442.56   7558.23   7442.40   7558.06
1657  2018-03-12   7581.04   7609.10   7563.44   7588.32
1908  2017-03-13   5863.48   5877.43   5860.84   5875.78
2159  2016-03-14   4733.39   4762.27   4731.50   4750.28
2415  2015-03-09   4936.08   4950.47   4920.82   4942.44
2666  2014-03-10   4332.62   4339.93   4307.84   4334.45
2917  2013-03-11   3237.74   3252.87   3233.67   3252.87
3166  2012-03-12   2989.05   2994.10   2973.65   2983.66
3417  2011-03-14   2695.66   2715.22   2682.09   2700.97
3669  2010-03-15   2361.92   2367.40   2345.99   2362.21
3925  2009-03-09   1281.98   1315.58   1265.62   1268.64
4176  2008-03-10   2211.95   2216.89   2168.67   2169.34
4427  2007-03-12   2383.98   2404.02   2384.39   2402.29
4662  2006-04-03   2352.40   2357.53   2334.60   2336.74
4914  2005-04-04   1983.81   1995.80   1972.07   1991.07
5164  2004-04-05   2055.99   2079.12   2054.34   2079.12
5415  2003-04-07   1425.23   1430.11   1389.51   1389.51
5667  2002-04-08   1741.10   1786.40   1733.84   1785.87
5918  2001-04-02   1835.22   1852.49   1769.66   1825.94
6169  2000-04-03   4494.89   4504.36   4193.10   4223.68
6422  1999-04-05   2523.98   2560.10   2515.70   2560.06
6672  1998-04-06   1859.24   1860.34   1829.13   1829.14
6924  1997-04-07   1245.83   1255.96   1245.83   1251.35
7176  1996-04-08   1106.32   1106.67   1093.66   1105.66
7432  1995-04-03    816.06    818.05    812.60    818.05
7684  1994-04-04    737.13    727.41    727.41    727.41
7936  1993-04-05    670.86    670.71    670.71    670.71
8188  1992-04-06    591.50    596.56    589.87    596.29
8441  1991-04-08    495.65    495.84    493.81    495.65
8697  1990-04-02    433.18    435.46    430.77    433.18
8950  1989-04-03    407.65    408.45    406.66    407.65
9202  1988-04-04    371.89    374.62    371.46    371.89
9453  1987-04-06    437.78    439.16    436.84    437.78
9691  1986-04-28    391.43    392.93    390.80    391.43
9942  1985-04-29    282.11    283.99    282.11    282.11
10194 1984-04-30    247.44    247.45    246.74    247.44
10451 1983-04-25    286.58    289.28    286.58    286.58
10704 1982-04-26    185.80    182.25    181.22    185.80
10956 1981-04-27    219.88    220.12    219.44    219.88
171   1980-04-28    138.54    138.54    138.54    138.54
422   1979-04-30    133.82    134.33    133.75    133.82
674   1978-05-01    115.96    115.96    115.36    115.96
930   1977-04-25     94.26     94.26     94.26     94.26
1182  1976-04-26     90.57     90.57     90.57     90.57
1478  1975-02-24     73.14     73.14     73.14     73.14
1764  1974-01-07     94.47     94.47     94.47     94.47
1938  1973-04-30    107.85    107.85    107.85    107.85
2187  1972-05-01    130.16    130.16    130.16    130.16
2445  1971-04-26    111.13    111.13    111.13    111.13